{% extends "layout.html" %}

{% block title %}
    Submit request
{% endblock %}

{% block main %}

    <div class="top-bar">
        <a href="/">Return to homepage</a>
        <p>Admin log in</p>
    </div>
    <hr>

    <div class="adminLogIn">
        <form action="/adminLogIn" method="post">
            <div class="submitDetail" style="margin-bottom: 20px;">
                <p class="inputText">Username</p>
                <input name="name" type="text" placeholder="Enter admin username" required>
            </div>
            <div class="submitDetail">
                <p class="inputText">Password</p>
                <input name="password" type="password" placeholder="Enter admin password" required>
            </div>
            <div style="display: flex; justify-content: center;">
                <button style="font-weight: normal; width: 125px; border-radius: 50px; margin-top: 25px;" type="submit">Log in</button>
            </div>
        </form>
    </div>

{% endblock %}
